<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials"> 
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div> &copy; StayEase Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->


<footer>
  <div class="f-container">

    <!-- Social Icons -->
    <div class="f-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>

    <!-- Logo and Tagline -->
    <div class="f-brand">
      <span class="f-logo">🌍 StayEase</span>
      <p class="f-tagline">Discover the world. Create memories. Travel better.</p>
    </div>

    <!-- Links -->
    <div class="f-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/help">Help</a>
    </div>

    <!-- Copyright -->
    <div class="f-copy">
      &copy; 2025 StayEase. All Rights Reserved.
    </div>

  </div>
</footer>


